h1 {
    color: chocolate;
}

.for {
    background-color: brown;
    height: 45px;
    width: 100px;
    float: left;
    margin: 5px;
    text-align: center;
    padding-top: 25px;
}
.br {
    clear: both;
}
.foreach {
    background-color: yellow;
    height: 45px;
    width: 100px;
    float: left;
    margin: 5px;
    text-align: center;
    padding-top: 25px;
}